[Desktop Entry]
Version=1.0
Name=claudemods-apu
GenericName=arch package utility
Exec=claudemods-apu.bin
Path=/usr/bin
StartupNotify=true
Terminal=false
Icon=claudemods-apu
Type=Application
Categories=Network;WebBrowser;
